/*********************************** body ***************************************/

*{margin:0;padding:0;}
img{border:none;}

html {
	/* http://www.splintered.co.uk/experiments/49/ */
	min-height: 100%;
	margin-bottom: 1px;
  color: #1F1F1F;
  color: #305F2F;
  color: #193F17;
  background: url(images/background.gif) 0px 0px repeat;
}

body {
	position: relative;
  text-align: left;
	font-size: 100%;
	font-family: "Trebuchet MS", "Verdana", "Lucida Sans Unicode", "Century Gothic", sans-serif;
}

#container {
	position: relative;
  width: 760px;
	margin: 40px auto;
  margin-top: 70px;
  background: url(images/container.gif) 0px 0px repeat;
  border: 5px solid #FFFFFF;
}


/********************************* top elements *********************************/

#navwrapper {
  float: left;
  width: 246px;
  margin: -40px 0px 0px 10px;
  padding: 122px 0px 0px 0px;
  background: url(images/navtop.gif) 0px 0px no-repeat;
  position: relative;
  z-index: 2000;
}

#navwrapper02 {
  width: 246px;
  padding: 0px 0px 46px 0px;
  background: url(images/navbottom.gif) bottom left no-repeat;
}

#nav {
	list-style: none;
	display: block;
  padding: 5px 0px 5px 1px;
  background: url(images/nav.gif) 0px 0px repeat-y;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 2000;
}

#nav li {
	margin: 0px 0px 6px 0px;
}


/******************************** content sections ****************************/

#content {
	position: relative;
  display: inline;
  margin: 30px 30px 10px 0px;
  font-size: 1.0em;
  line-height: 1.7em;
	float: right;
	width: 450px;
}

#content p {
	text-indent: 10px;
  text-align: justify;
	margin: 0px 0px 5px 0px;
}

/********************************* links ********************************/

ul#nav a {
	text-decoration: none;
  text-transform: uppercase;
  margin: 0px 16px;
  display: block;
  color: #305F2F;
  background: transparent;
}

ul#nav a:hover, ul#nav a:focus {
  color: #305F2F;
  background: #EBF6E9;
}

p a {
  text-decoration: none;
  padding: 0px 2px;
	background: #EBF6E9;
  color: #193F17;
  border-bottom: 1px dashed #193F17;
}

p a:hover, p a:focus {
	color: #193F17;
  background: #FFFFFF;
}

#bottom a {
	text-decoration: none;
  padding: 0px 2px;
  color: #466F45;
  background: transparent;
}

#bottom a:hover, #bottom a:focus {
  color: #193F17;
  background: #FFFFFF;
}


/******************************** footer sections ****************************/

.left {
	float: left;
}

#bottom {
	text-align: right;
  font-size: .6em;
  clear: both;
  padding: 5px 30px 15px 0px;
}

/************************** header typestyles ***************************/

h1
{
	display: none;
}

h2
{
  color: #305F2F;
  color: #FFFFFF;
  background: transparent;
  background: url(images/header02.gif) 0px 0px repeat;
  padding: 12px;
  border: 3px solid #FFFFFF;
  margin-bottom: 15px;
	text-decoration: none;	
	text-align: center;
	font-size: 2.0em;
	font-weight: normal;
	font-family: "Trebuchet MS", "Tahoma", "Century Gothic", "Agency FB", "Helvetica", "Lucida Sans Unicode", sans-serif;
}

h3
{
  color: #868686;
  background: #FFFFFF;
	text-decoration: none;	
	text-align: left;
	font-size: 0.8em;
	font-weight: normal;
	font-family: "Century Gothic", "Trebuchet MS", "Tahoma", "Agency FB", "Helvetica", "Lucida Sans Unicode", sans-serif;
}

h4
{
  color: #FFFFFF;
  background: #C2ECF9;
	text-decoration: none;	
	text-align: left;
	font-size: 2.2em;
	font-weight: bold;
	font-family: "Trebuchet MS", "Tahoma", "Century Gothic", "Agency FB", "Helvetica", "Lucida Sans Unicode", sans-serif;
  float: right;
  position: relative;
  z-index: 2000;
  margin: -65px 0px 0px 0px;
  padding: 10px;
}


/********************************* form ********************************/

form{
	margin: 0px 15px 20px 15px;
	padding: 0px;
	text-align: left;
}

.row {
	clear: both;
	display: block;
	margin: 5px 0px 5px 0px;
	text-align: left;
	height: 30px;
}

fieldset {
	border: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: left;
	clear: both;
}

fieldset label {
	float: left;
	width: 65px;
	text-align: left;
}

fieldset input {
	position: relative;
	width: 200px;
	float: left;
	margin: 0px;
	padding: 0px;
}

fieldset textarea {
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
}

input#preview {
	float: none;
	clear: both;
	margin: 20px 0px 0px 60px;
	width: 120px;
}

input#edit, input#submit {
	float: none;
	clear: none;
	margin: 20px 0px 0px 20px;
	width: 120px;
}

em {
	text-decoration: underline;
}

.contactbody {
	margin: 0px 0px 0px 10px;
}